process {
    // We set some default resource limits here, since these operations will
    // always be performed on the same data, and this spawns a lot of processes.
    // These limits are especially important when running on HPC clusters to avoid
    // asking for too much resources for very simple tasks.
    withName: '.*ATLAS_IIT:THR_BUNDLE_MASK' {
        memory        = 1.GB
        time          = 20.M
    }

    withName: '.*ATLAS_IIT:SMOOTH_MASK' {
        memory        = 1.GB
        time          = 20.M
    }

    withName: '.*ATLAS_IIT:THR_SMOOTHED_MASK' {
        memory        = 1.GB
        time          = 20.M
    }
}

includeConfig '../../subworkflows/nf-neuro/atlas_roimetrics/nextflow.config'
