/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

includeConfig '../../subworkflows/local/harmonization/nextflow.config'

process {
    withName: "HARMONIZATION:FORMAT_OUTPUT" {
        ext.inverse = true
        publishDir = [
            saveAs: { filename ->
                def extension = "tsv"
                if (filename.endsWith(".tsv.gz")) {
                    extension = "tsv.gz"
                }
                else if (filename.endsWith(".json")) {
                    extension = "json"
                }
                return "${params.outdir}/metrics/space-native_atlas-iit_label-mean_desc-roi_stats.${extension}"
            },
        ]
    }
}
